---
title: An Amazing Page
layout: base.njk
---

<div class="container">
    <h1>An Amazing Page</h1>
    <p>
        It is made for all using HTML, CSS, and JavaScript. And Served as a
        JAMStack Site.
    </p>
</div>
