---
title: An Amazing Page
layout: base.njk
---

<div class="container">
    <h1>An Amazing Page</h1>
    <div class="vibe">You are great!</div>
    <div class="five-stars">⭐⭐⭐⭐⭐</div>
</div>
<script src="/js/vibe.js"></script>
